<div class="body-tile hidable show-on-edit" data-hidable-attr="{{section.items}}" data-tile="{{section.name}}">
    <div class="feature-list">
        <div class="sheet-divider"></div><div class="sheet-divider-left"></div>
        <h3>
            <a class="item-control item-create npc-item-create" title="Create Item" data-type="{{section.type}}"><i class="fas fa-plus-circle"></i></a>
            <a class="body-tile-name" data-tile="{{section.name}}"> {{section.label}}</a>
        </h3>
                {{#if section.useIcons}}
        <div class="sheet-divider"></div><div class="sheet-divider-left"></div>
                {{/if}}                
        <ul class="item-list">
        {{#each section.items as |item sid|}}
        <li class="item" data-item-id="{{item._id}}" draggable="true">
            <h4 class='npc-item-header'>
                {{#if ../section.useIcons}}
                <img class="rollable" src="{{item.img}}" title="{{item.name}}" width="20" height="20" />
                {{else}}
                <a class="rollable" title="{{localize "BNPCSheet.PostChat"}}"><i class="fas fa-dice-d20"></i></a>
                {{/if}}                
                <a class="item-control item-edit show-on-edit" title="{{ localize "BNPCSheet.ItemEdit" }}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-change-list show-on-edit" title="{{ localize "BNPCSheet.MoveTT" }}"><i class="fas fa-bookmark"></i></a>
                <a class="item-control item-delete show-on-edit" title="{{ localize "ITEM.Delete" }}"><i class="fas fa-trash"></i></a>
                <a class='npc-item-name' data-item-id="{{feature._id}}">{{item.name}}</a>
                
                {{#if item.isOnCooldown}}
                    <a class="item-recharge">{{item.labels.recharge}}</a>
                {{else if item.data.recharge.value}}
                    {{localize "DND5E.Charged"}}

                {{else if item.hasUses}}
                    <input class="npc-textinput-small" type="text" value="{{item.data.uses.value}}" placeholder="0"/>/ {{item.data.uses.max}}
                {{/if}}
                
                <div class="type-list" style="display:none">
                    {{ localize "BNPCSheet.MoveTT" }}:
                    <ul>
                        {{#if ../isFeat}}       {{else}}<li><a data-value="feat"><i class="ra ra-helmet"></i> {{ localize "DND5E.Features" }}</a></li>{{/if}}
                        {{#if ../isAction}}     {{else}}<li><a data-value="action"><i class="ra ra-sword"></i> {{ localize "BNPCSheet.Actions" }}</a></li>{{/if}}
                        {{#if ../isLegendary}}  {{else}}<li><a data-value="legendary"><i class="ra ra-crossed-axes"></i> {{ localize "DND5E.LegAct" }}</a></li>{{/if}}
                        {{#if ../isReaction}}   {{else}}<li><a data-value="reaction"><i class="ra ra-spinning-sword"></i> {{ localize "BNPCSheet.Reactions" }}</a></li>{{/if}}
                        {{#if ../isLair}}       {{else}}<li><a data-value="lair"><i class="ra ra-tower"></i> {{ localize "BNPCSheet.LairActs" }}</a></li>{{/if}}
                        {{#if ../isLoot}}       {{else}}<li><a data-value="loot"><i class="fas fa-coins"></i> {{ localize "BNPCSheet.Loot" }}</a></li>{{/if}}
                    </ul>
                </div>
            </h4>
        </li>
        {{/each}}
        </ul>
    </div>
</div>